<!-- Header -->
			<header id="header">
				<h1><a href="{{site.baseurl}}/">{{site.title}}</a></h1>
				<nav>
					<ul>
						<li><a href="{{site.baseurl}}/#intro">Home</a></li>
						<li><a href="{{site.baseurl}}/#one">Our mission</a></li>
						<li><a href="{{site.baseurl}}/#two">Our journey</a></li>
						<li><a href="{{site.baseurl}}/#work">Recent Posts</a></li>
				        <li><a href="{{site.baseurl}}/#contact">Contact Us</a></li>
						<li><a href="{{site.baseurl}}/blog/">Our Blog</a></li>

					</ul>
				</nav>
			</header>
