---
layout: default
title: Blog
header-img: "img/blog-bg-01.jpg"
---

<section class="main primary white post" >
   <div class="content">
            <h2 style="line-height: 2">Blog</h2>

            <table  class="list" width="100%">
          {% for post in paginator.posts %}
               
                <tr>
               
                <td class="list-image" align="left" valign="top">
                 <a href="{{site.baseurl}}{{post.url}}"><img width="100%" src="{{site.baseurl}}/images/{{post.image}}" alt="{{post.title}}"></a>
                 </td>
   
                <td class="list-desc" align="left" valign="top">
                <h3>{{post.title}}</h3>
                {{post.content | strip_html | truncate: 240 }} <a href="{{site.baseurl}}{{post.url}}">Read More</a></td>
                </tr>
                
              {% endfor %}
            </table>
            {% include pagination.html %}
    </div>
</section>
